body{
    direction: rtl;
    background-color: rgb(0, 0, 0,.2);
    font-size: 14px;
    box-sizing: border-box;
    font-family: "Vazir";
}
section{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.card{
    position: absolute;
    width: 1000px;
    height: 700px;
    padding: 0 5px;
    /* background-color: rgba(255, 255, 255, .4); */
}
.card1{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    /* background-color: rgb(100, 149, 237,.1); */
    width:400px;    
}
.card2{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    /* background-color: rgba(237, 100, 100, 0.1); */
    width:600px;    
}
.nav{
    border: 1px solid rgba(255, 255, 255,.2);
    border-radius: 1px;
    background: rgba(255, 255, 255,.2);
    height: 50px;
    position:relative;
    top: 0;
    text-align: left;
    z-index: 1;
    /* margin-bottom: 5px; */
}

li{
    /* margin-bottom: 10px; */
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 1;
    color: rgb(0, 0, 0,.42);
    text-align: left;

}
li button{
    position: absolute;
    top: 3px;
    left: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 11px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: "Vazir";
    list-style: none;
    transition: .3s;
    cursor: pointer;
}
button:hover{
    background-color:grey;
}
li.text{
    position: absolute;
    top: 11px;
    left: 105px;
}
.shoql p{
position: absolute;
right: 0;
top: 3px;
margin: 10px;
opacity: .7;
text-align: right;
padding-left: 10px;
}
.box{
    position: relative;
    top: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.content{
    position: relative;
    display: flex;
    align-items: center;
    margin: 3px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    height: 100px;
    text-align: right;
    border: 1px solid rgba(255, 255, 255, 0.2) ;
    transition: .3s;
    cursor: pointer;
    
}


.card1 img{
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;

}
p.Job{
    position: absolute;
    top: 0px;
    right: 70px;
}
p.Company{
    position: absolute;
    right: 80px;
}
p.City{
    position: absolute;
    right: 90px;
    bottom: 0;
}
p.income{
    position: absolute;
    left: 10px;
}
p.date{
    position: absolute;
    left: 10px;
    bottom: 0;
}
.content a img{
    width: 20px;
    height: 20px;
}
#like{
    position: absolute;
    left: 35px;
    top: 7px;
   
}
#tab{
    position: absolute;
    left: 62px;
    top: 5px;
}
.box .active{
    position:sticky ;
    top: 50px;
    margin: 15px; ;
    transition: .5s;
    background:rgb(255, 255, 255);
    transform:translateX(20px) scale(1.08);
    box-shadow:  0 5px 10px rgba(0,0,0,.175);
    margin: 10px;
    transition: .5s ;
    cursor: pointer;
    z-index: 10;
}
.card2 .nav2{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1px;
    background: rgb(255, 255, 255);
    height: 150px;
    position:relative;
    top: 0;
    z-index: 1;

}
.card2 .btn{
    position: absolute;
    left: 10px;
    top: 10px;

    
}

.card2 .btn button{
    background-color: #45c26f;
    border: 1px solid #45c26f ;
    border-radius: 10px;
    padding: 5px 35px;
    font-family: "Vazir";
    color: #fff;
    cursor: pointer;

}

        
.nav2 p{
    position: absolute;
    right: 15px;
}

p.Job-2{
    position: absolute;
    font-weight: 600;
    top: 0px;
    font-size: 18px;
}
p.Company-2{
    position: absolute;
    font-weight: 400;
    top: 40px;
    font-size: 16px;
}
p.City-2{
    position: absolute;
    font-weight: 300;
    bottom: 30px;
    font-size: 12px;
    color: #8e9cb2;

}
p.date-income{
    position: absolute;
    font-weight: 300;
    bottom: 0px;
    color: #8e9cb2;
    font-size: 12px;

}
.card2 .nav2  a img{
    width: 30px;
    height: 30px;

}
#like-2{
    position: absolute;
    left: 10px;
    bottom: 0;   
}
#share{
    position: absolute;
    left: 58px;
    bottom: 0;   

}

.lorem{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border: rgba(255, 255, 255, 0.2);
    margin-top: 1px;
    overflow: visible;
    padding: 0 10px;
}
.lorem-2{
    position: relative;
    margin-top: 1px;
    background-color: #fff;
    overflow: visible;
    padding: 20px;

}