*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8b8d8f;
    margin: 0;
}
body{
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    height: 600px;
    width: 320px;
    border-radius: 20px;
    background: linear-gradient(to bottom,#33383e 0%,#17191d 100%);
    margin: 0 auto;
    display: block;
    border: solid 2px #3e434c;
}
.top{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.top p{
    border: 1px solid #8b8d8f;
    padding: 4px 9px;
    border-radius: 8px;
}
.botton{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 10px;
}
.indicator{
    font-size: 10px;
    text-transform: capitalize;
}
.small,.big,.big_play_pause{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: radial-gradient(at bottom right,#292e35 0%,#292e34 80%);
    border: none;
    box-shadow: -7px -6px 10px 5px rgba(255, 255, 255, 0.04),
    6px 6px 10px 5px rgb(39, 42, 47);
    padding: 0;

}
.small{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: radial-gradient(at bottom right,#292e35 0%,#292e34 80%);
    border: none;
    box-shadow:-2px 58px 55px 55px rgb(255 255 255 / 4%), 3px 3px 20px 4px rgb(39 42 47)

}
.big,.big_play_pause{
    height: 60px;
    width: 60px;
    box-shadow:-7px -6px 10px 5px rgba(255, 255, 255, 0.04),
    6px 6px 10px 5px rgb(14, 15, 16);
    background: radial-gradient(at bottom right,#17191e 0%,#1d2025 80%);

}

.big_play_pause{
    background: radial-gradient(at top left ,#c92711 0%,#ea570a 80%);

}
.inner_button,.inner_button_big,.play_pause{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: radial-gradient(at top left,rgba(46,50,58,1)0%,rgba(28,30,35,1)80%);
    margin:0 auto;
    border: none;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.inner_button_big{
    height: 55px;
    width: 55px;
    background: radial-gradient(at top left,rgb(57,59,64)0%,rgb(12,13,1)112%);

}
.play_pause{
    background: radial-gradient(at bottom right,#c92711 0%,#ea570a 80%);
    height: 55px;
    width: 55px;

}
.small:active{
    transform: translateY(2px);
    background: radial-gradient(at top left,#292e35 0%,#292e34 80%);

}
.inner_button:active{
    background: radial-gradient(at bottom right,rgba(46,50,58,1)0%,rgba(28,30,35,1)80%);

}
.big_play_pause:active{
transform: translateY(4px);
background: radial-gradient(at bottom right,#c92711 0%,#ea570a 80%);

}
.play_pause:active{
    background: radial-gradient(at top left,#c92711 0%,#ea570a 80%);


}
.big:active{
    transform: translateY(4px);
background: radial-gradient(at top left,#17191e 0%,#1d2025 80%);

}
.inner_button:active{
    background: radial-gradient(at top left,rgb(57,59,64)0%,rgb(12,13,1)112%);

}
.center{
    border-radius: 11px;    
    height: 265px;
    width: 255px;
    /* box-shadow: -15px -10px 16px 5px rgba(255, 255, 255, .04),10px 16px 8px rgb(24, 26, 29);  */
    /* background: radial-gradient(at top left,rgba(28,30,35,1)0%,#131416 85%); */
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    /* background: radial-gradient(at top left,rgba(46,50,58,1)0%,rgba(28,30,35,1)80%); */
    margin:0 auto;
}
.album{
    border-radius: 11px;
    height: 260px;
    width: 255px;
    object-fit: cover;
}
.song_details{
    text-align: center;
    margin-top: 10px;
    /* margin-bottom: 35px; */
    padding-bottom: 30px;

}
.controls{
    display: flex;
    justify-content: space-around;
    margin: 20px 30px 0 30px;

}
.slider{
    margin: 10px auto;
    width: 70%;

}
.slider-bar{
    background: #000;
    height: 6px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: inset -2px -2px 2px 0px rgb(66,70,74),
    inset 1px 1px 1px -1px rgb(0, 0, 0) ;

}

.inner_slider_bar{
    width: 60%;
    background:#c92711;
    height: 4px ;
    margin: 0px 1px ;
    border-radius: 5px ;
}

.time {
    display: flex;
    font-size: 7px;
    margin-bottom: 5px; 
    padding-top: 10px;
    margin-left: 127px;
    justify-content: space-between;
}
