.container {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 80%;
  min-width: 450px;
  margin: 40px auto;
  background-color: hsl(222, 26%, 31%);
  box-shadow: 2px 2px 10px #333;
}

.calculators {
  display: grid;
  width: 100%;
  justify-content: space-around ;
  min-width: 400px;
  margin: 0 auto  ;
  /* box-shadow: 0px 0px 4px 1px #fff; */
  border-radius: 10px;
}
.title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title p{
    text-transform: uppercase;
    font-size: 14px;
}
.screen {
  height: 7rem;
  background-color:  hsl(224, 36%, 15%);
  display: flex;
  color: #fff;
  text-align: right;

  justify-content: space-around;
  padding: 1rem 1rem;
  flex-direction: column;
  border-radius: .5rem;
  word-wrap: break-word;
  word-break: break-all;
}
.pervios{
    font-size: 1.5rem;
}
.current{
font-size: 2rem;
letter-spacing: .2rem;
}
.buttons-calculators{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    /* grid-template-rows: minmax(auto, auto) ; */
    margin-top: 1rem;
   
    padding: 1rem;
    border-radius: .5rem;
    background-color: hsl(223, 31%, 20%);

}
button{
  cursor: pointer;
}
.button{
    padding: 1.3rem 2rem;
    margin: .5rem ;
    font-weight: bold;
    color: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-style: hidden;
    box-shadow: 0 5px hsl(30, 25%, 69%) ;
        background-color: hsl(30, 25%, 89%);
    border-radius: .4rem;
    text-align: center;
    text-transform: uppercase;
    
}
/* .button:hover{
    background-color: hsl(225, 21%, 49%);
} */
.column{
  grid-column: span 2;
}
.back-color-dark{
  background-color:hsl(225, 21%, 49%) ;
  box-shadow: 0 5px hsl(222, 26%, 31%);

  color: #fff;
}
.back-orege{
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 5px hsl(6, 70%, 34%);
  color: #fff;
}