@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');*,*::after,*::before{
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;  
}

body {
  padding: 0;
  margin: 0;
  background-color:   hsl(0, 0%, 90%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
