a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #232323;
    overflow: hidden;
    box-sizing: border-box;
}
.continer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.continer .card{
    display:flex;
    position: relative;
    justify-content:start   ;
    align-items:center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    /* flex-direction: column; */
    
 
    
}
.continer .card .imgbx{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: .5s ease-in-out;
}
.continer .card:hover .imgbx {
    transition: .5s;
    transform:translateY(-10px)  scale(1.4); 
}

.continer .card .imgbx img{
    position: relative;
    top: -100px;
    max-width: 100%;
    margin: 0 0 20px;
    transition: .5s ease-in-out;

}

.continer .card:hover .imgbx img{
    transform: translate(-20px,-40px) rotate(-10deg) scale(1.1);

}
.continer .card .imgbx h2{
    position: relative;
    color: #fff;
    font-weight: 600 ;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.continer .card .content{
    position: absolute;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    opacity: 0;
    visibility: hidden;
    

}
.continer .card:hover .content{
    opacity: 1;
    visibility: visible;
    transition: 1s ease-in-out;
}
.continer .card .content .color,
.continer .card .content .size{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
    padding: 8px 10px ;
}
.continer .card .content .size h3,
.continer .card .content .color h3{
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
    margin-right: 1px;
}
.continer .card .content .color span{
    
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    color: #111;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    border-radius: 50%;
    padding: 15px;
    margin: 0 10px;
    border: 2px solid white;
    box-sizing: border-box;
}
/* .continer .card .content .color span, */
.continer .card .content .size span{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
    color: #111;
    background: #fff;
    margin:0 3px;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
}
.continer .card .content .size span:hover{
    background-color:red;
    color:white;
    transition: .5s ease-in-out;

}

}

.continer .card .content .color span:nth-child(2){
    background: white;
    border-radius: 50%;
}
.continer .card .content .color span:nth-child(3){
    background: red;
    border-radius: 50%;
}
.continer .card .content .color span:nth-child(4){
    background: black;
    border-radius: 50%;
}

.continer .card .content a{
    position: relative;
    top: 10px;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 12px 30px;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 35px ;
    text-transform: uppercase;
    letter-spacing: 1px;

}
