*{
    padding: 0;
    margin: 0;

}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #cfcfcf;
    
}

.img-head{
    width: 100%;
    height: auto;
    /* position: relative; */
}
.container{
display: flex;
justify-content: center;
/* flex-direction: column; */
/* position: relative; */
}
.content .logo{

}
.nav{
    top: 0;
    position: absolute;
    padding: 1.5rem 10rem;
    left: 0;
}
.nav-link{
    top: 0;
    position: absolute;
    padding: 1.5rem 10rem;
    right: 0;
}
.nav-link a{
    
}
.box{
    display: flex;
    position: absolute;
    padding: auto;
    top: 50%;
    align-items: center;
    /* margin: auto auto; */
    width: 300px;
    height: 300px;
    background-color: rgb(75, 75, 75);
}